<span class="sr-only">Navigation:</span>
<ul>
  {% assign pages = site.pages %}

  {% for document in site.documents %}
    {% assign pages = pages | push: document %}
  {% endfor %}

  {% assign pages = pages | where: "menu", true | sort: "order" %}

  {% for node in pages %}
    <li>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
    </li>
  {% endfor %}
  <!-- link -->
  <li>
    <a class="sidebar-nav-item" href="https://SPYang1220.github.io/assets/pdfs/YSP_CV_ENG_20230712.pdf" target="_blank">CV</a>
  </li>
</ul>
