.dr-li ul {
	margin-left: 1em;
	margin-bottom: 0px;
	font-size: 0.88em;
}

.dr-li {
	list-style-type: none;
}

a {
	color:#3498DB;
}

.ascii {
	padding: 0;
	margin: auto;
	display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px 1em;
	font-style: normal;
    font-weight: normal;
    font-family: "Droid Sans Mono", "Lucida Console", "Andale Mono", "Courier New", "Courier", monospace;
    font-size: 12px;
    line-height: 12px;
	border: 0px;
}

.ascii-div {
	clear: both;
	margin: auto;
}

/*projects page*/
.P-title {
	font-family: 'Montserrat', 'Lucida Sans Unicode', 'Arial Black', sans-serif;
}

.P-subtitle {
	font-family: 'Montserrat', 'Lucida Sans Unicode', 'Arial Black', sans-serif;
	margin-top: 2em;
}

.P-page {
	margin-bottom: 10%;
	/*margin-left: -9%;*/
	padding-right: 3%;
	font-family : 'Raleway', Arial, sans-serif;
	color: #565656;
}

.P-list {
	font-weight: 600;
	color: darkgray;
}

.P-galary {
	margin-top: 1em;
}

.P-galary td {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.P-iframe {
	margin: 0 auto;
	display: block;
}

/*for dark theme*/

#darkModeToggle {
  opacity: 0;
  /*position: absolute;*/
}

.dmt_label {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 26px;
  width: 55px;
  transform: scale(1.5);
}

.dmt_label .dmt_ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

#darkModeToggle:checked + .dmt_label .dmt_ball {
  transform: translateX(28px);
}

#darkModeToggle:checked + .dmt_label {
  background-color: rgba(13, 149, 228, 0.8);
}

body.dark {
  background: #27253d;
  color: #c9d1d9;
}

img.dark {
  filter: brightness(50%);
}

#modeToggleDiv {
  padding-left: 7px;
}

#ascii {
  background-color: transparent !important;
}