---
layout: home
---

  <div class="row">
    <div class="span13">
      <div class="span9">
        {% if page.title %} <h2> {{page.title}} </h2>{% endif %}
        {{ content }}
      </div>
      <div class="span2">
          <h2><a href="/">@DrustZ</a></h2> 
          <ul class="unstyled archive">
              <li><a href="/about.html" title="About">About 是我</a></li>
              <li><a href="/archive.html" title="Archive">Blog 日志</a>&nbsp;</li>
			  <li><a href="/drustz-cv.pdf" title="Projects">CV 简历</a></li>
              <li><a href="/projects.html" title="Portfolio">Portfolio 作品集</a></li>
              <li><a href="https://github.com/drustz" title="DrustZ on Github.com" target="_blank">Github<span class="external-link" title="external link">&#x279A;</span></a></li>
			  <li><a href="https://www.linkedin.com/in/murrayzhang" title="DrustZ's Linkedin" target="_blank">Linkedin<span class="external-link" title="external link">&#x279A;</span></a></li>
              <li><a href="http://user.qzone.qq.com/418554726" title="DrustZ's Qzone'" target="_blank">Qzone<span class="external-link" title="external link">&#x279A;</span></a></li>
          </ul>

          {% unless page.permalink == "about.html" %}
		  <br>
          <div class="about span4" style="margin-left:0">
			  <li class="dr-li">Friends & peoples
				  <ul>温和 @Wen He</ul>
			  </li>
			  <br>
			  <li class="dr-li">Places & Organizations
				  <ul><a href="http://media.mit.edu/" target="_blank">Media Lab @MIT</a></ul>
				  <ul><a href="http://pi.cs.tsinghua.edu.cn/" target="_blank">HCI Lab @Tsinghua</ul>
				  <ul><a href="https://mailtime.com/" target="_blank">Mailtime Inc.</ul>
			  </li>
          </div>
          {% endunless %}

      </div>
    </div>
  </div>
