---
layout: page
---
<head>
<!--    for publication     -->
    <style type="text/css">
        table.row td{
            background-color: transparent !important;
            border: 0;
            vertical-align: top;
        }
        li{
            list-style-type: none;
        }
        a.paper_link
        {
            display: block; 
            text-decoration: none;
            font-weight: bold;
        }
        
        @media only screen and (max-device-width: 767px) { 
            .imgtd {
                display: none;
            }
            img.smallthumbnail {
                display: block;
                margin-top: 3em;
            }
        }
        
        
        @media only screen and (min-device-width: 768px) { 
            img.smallthumbnail {
                display: none;
            }
        }
        
        .imgtd {
            width: 35%;
        }
        
        img.thumbnail
        {
            margin-top: 15px;
            padding-left: 10px;
            border-radius: 10px;
        }
        
        img.inline {
            display: inline;
            margin: 0;
        }
        
       .title {
            font-size: large;
            font-family: sans-serif;
        }
        .description{
            font-size: medium;
        }
        .detail{
            font-size: small;
        }
    </style>
</head>

<!-- PUBLICATIONS -->
<!-- <h2><strong>Publications</strong></h2> -->
<h2> Intelligent Text Entry Application </h2>
<div class="hr" style="padding-bottom:0"></div>
    <table class="row">
        <!-- start of proj -->
        <img class="smallthumbnail" src="/assets/img/research/phraseflow.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/phraseflow.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="/assets/pdfs/phraseflow.pdf" target="_blank"> PhraseFlow: Designs and Empirical Studies of Phrase-Level Input </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, Shumin Zhai
                    <br>
                    The ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI)</strong>, 2021
                    <br>
                    <font color="green" class="detail">PhraseFlow is a phrase-level input keyboard that is able to correct previous text based on the subsequently input sequences. For example, if the user types "I love in Seattle", the keyboard will correct "love" to "live" after it sees "in Seattle". The project evaluated the usability of PhraseFlow and attempted to design a pracitcally usable phrase-level keyboard. </font>
            </span></li>
        </div></td></tr>
        <!-- end of proj -->

        <!-- start of proj -->
        <img class="smallthumbnail" src="/assets/img/research/JustCorrect.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/JustCorrect.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="https://faculty.washington.edu/wobbrock/pubs/uist-19.02.pdf" target="_blank"> JustCorrect: Intelligent Post Hoc Text Correction Techniques on Smartphones </a></span>
                <span class="description">Wenzhe Cui, Suwen Zhu, <strong>Mingrui Zhang</strong>, H. Andrew Schwartz, Jacob O. Wobbrock, Xiaojun Bi
                    <br>
                    The ACM Symposium on User Interface Software and Technology <strong>(UIST)</strong>, 2020 <a href="https://www.youtube.com/watch?v=x1OH-uTT524" target="_blank">Video</a> <a href="https://www.youtube.com/watch?v=gdCryupTzpg" target="_blank">Wenzhe's Presentation</a>
                    <br>
                    <font color="green" class="detail">JustCorrect is a post-correction technique for smartphones, sharing the same genre with <i>Type, Then Correct</i>. JustCorrect utilizes the word embeddings and language models to detect the error and display correction options automatically.</font>
            </span></li>
        </div></td></tr>
        <!-- end of proj -->

        <img class="smallthumbnail" src="/assets/img/research/gedit.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/gedit.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="https://faculty.washington.edu/wobbrock/pubs/gi-20.pdf" target="_blank"> Gedit: Keyboard gestures for mobile text editing </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, Jacob O. Wobbrock
                    <br>
                    Proceedings of Graphics Interface <strong>(GI)</strong>, 2020 <a href="https://youtu.be/0cvelA-6F6E" target="_blank">Video</a> <a href="https://www.youtube.com/watch?v=03IGy_I9Xkc" target="_blank">My presentation</a>
                    <br>
                    <font color="green" class="detail"> We proposed a set of on-keyboard text editing gestures for the mobile keyboard, similar to the desktop keyboard shotcuts, including ring/letter/swipe gestures to facilitate fast editing tasks such as cursor-moving/copy/paste/cut/undo. Gedit provides one- and two-handed operation modes, and is also compatible with the gesture typing input. </font>
            </span></li>
        </div></td></tr>

        <!-- start of proj -->
        <img class="smallthumbnail" src="/assets/img/research/TTC.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/TTC.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="https://faculty.washington.edu/wobbrock/pubs/uist-19.02.pdf" target="_blank"> Type, Then Correct: Intelligent Text Correction Techniques for Mobile Text Entry Using Neural Networks </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, He Wen, Jacob O. Wobbrock
                    <br>
                    The ACM Symposium on User Interface Software and Technology <strong>(UIST)</strong>, 2019 <a href="https://www.youtube.com/watch?v=ZgrugZf8jrc" target="_blank">My Presentation</a> <a href="https://youtu.be/87NijB2flSk" target="_blank">Video</a> <a href="TTC.html">Project Page</a>
                    <br>
                    <font color="green" class="detail">Instead of normal touch+cursor based correction process, why cannot we rethink of the correction interaction? In this paper, we present three novel interactions that allow the user to type the correction first, then apply it to the error place. Furthermore, we applied deep learning technology to enable automatic error detection for the interaction. <a href="https://github.com/DrustZ/CorrectionRNN" target="_blank">Our correction RNN model</a> </font>
            </span></li>
        </div></td></tr>
        <!-- end of proj -->

        <img class="smallthumbnail" src="/assets/img/research/ATK.jpg" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/ATK.jpg" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="http://pi.cs.tsinghua.edu.cn/lab/papers/p539-yi.pdf" target="_blank"> ATK: Enabling Ten-Finger Freehand Typing in Air Based on 3D Hand Tracking Data </a></span>
                <span class="description">Xin Yi, Chun Yu, <strong>Mingrui Zhang</strong>, Sida Gao
                    <br>
                    The ACM Symposium on User Interface Software and Technology <strong>(UIST)</strong>, 2015 <a href="https://www.youtube.com/watch?v=gYkSOzKY1LQ" target="_blank">Video</a>
                    <br>
                    <font color="green" class="detail">A novel air-typing method, Leapmotion tracking fingers, improved Bayes prediction model with application developed. Users reached the speed of 29.2 WPM on average.</font>
            </span></li>
        </div></td></tr>
    </table>

<h2> Text Entry Evaluation </h2>
<div class="hr" style="padding-bottom:0"></div>
    <table class="row">
        <img class="smallthumbnail" src="/assets/img/research/Tseq.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/Tseq.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="https://faculty.washington.edu/wobbrock/pubs/uist-19.01.pdf" target="_blank">Beyond the Input Stream: Making Text Entry Evaluations More Flexible with Transcription Sequences </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, Jacob O. Wobbrock
                    <br>
                    The ACM Symposium on User Interface Software and Technology <strong>(UIST)</strong>, 2019 <a href="https://youtu.be/h1fJu-bP2wE" target="_blank">Video</a>
                    <br>
                    <font color="green" class="detail"> In this work, we present a new underlying model that supersedes the input stream model for general-purpose method-independent character-level text entry evaluation. Specifically, we present an approach that replaces the input stream with transcription sequences, or “T-sequences” for short. In brief, T-sequences are snapshots of the entire transcribed string after each text-changing action is taken by the user. Every pair of successive snapshots are then analyzed to compute character-level text entry metrics. <a href="https://github.com/DrustZ/TextTestPP" target="_blank">TextTest++ platform</a></font> 
            </span></li>
        </div></td></tr>
    
        <img class="smallthumbnail" src="/assets/img/research/Throughput.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/Throughput.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="http://faculty.washington.edu/wobbrock/pubs/chi-19.03.pdf" target="_blank">Text Entry Throughput: Towards Unifying Speed and Accuracy in a Single Performance Metric </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, Shumin Zhai, Jacob O. Wobbrock
                    <br>
                    The ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI)</strong>, 2019 <a href="https://youtu.be/zFxdOLkI1dw" target="_blank">My Presentation</a> <a href="/posts/2019/04/28/Throughput1/" target="_blank">Related Blog Post</a>
                    <br>
                    <font color="green" class="detail">We define the text entry Throughput as a performance metric combining the speed and accuracy. Throughput is derived from the transmission ratio in the information theory. Unlike other metrics, throughput is less affected by speed-accuracy tradeoffs, thus it enables cross-device, cross-publication comparison. <a href="https://github.com/DrustZ/Throughput" target="_blank">Throughput calculation library</a></font>
            </span></li>
        </div></td></tr>
    </table>

<h2> Communication with Emojis 🧐 </h2>
<div class="hr" style="padding-bottom:0"></div>
    <table class="row">

        <img class="smallthumbnail" src="/assets/img/research/voicemoji.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/voicemoji.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="#" target="_blank">Voicemoji: Emoji entry using voice for visually impaired people </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, Ruolin Wang, Xuhai Xu, Qisheng Li, Ather Sharif, Jacob O. Wobbrock
                    <br>
                    The ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI)</strong>, 2021 <a href="https://zhuanlan.zhihu.com/p/350906256" target="_blank"> Related Blog Post (in Chinese) </a>
                    <br>
                    <font color="green" class="detail"> A speech-based emoji input system, designed for blind and low vision users. Use natural language style emoji query and context sensitive emoji suggestions based on the spoken content. Voicemoji speeds up the emoji entry process by 91% than the iOS keyboard.</font>
            </span></li>
        </div></td></tr>


        <img class="smallthumbnail" src="/assets/img/research/emojitext.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/emojitext.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="" target="_blank"> A comparative study of lexical and semantic emoji suggestion systems </a></span>
                <span class="description"><strong>Mingrui Zhang</strong>, Alex Mariakakis, Jacob Burke, Jacob O. Wobbrock
                    <br>
                    <strong>iConference</strong>, 2021
                    <br>
                    <font color="green" class="detail"> We compared how the lexical based and semantic based emoji suggestion mechanisms affected the online chatting experience through an in-lab study and a field deployment. The results showed that the suggestion system of emojis did not influence the chatting experience, and users enjoy using both suggestion systems for different reasons. </font>
            </span></li>
        </div></td></tr>
    </table>


<h2> Voice User Interface </h2>
<div class="hr" style="padding-bottom:0"></div>
    <table class="row">

        <img class="smallthumbnail" src="/assets/img/research/assumptions.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/assumptions.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="http://bigyipper.com/wp-content/uploads/2020/02/imwut19a-sub8918-cam-i26.pdf" target="_blank">Assumptions Checked: How Families Learn About and Use the Echo Dot </a></span>
                <span class="description">Erin Beneteau, Yini Guan, Olivia K. Richards, <strong>Mingrui Zhang</strong>, Julie A. Kientz, Jason Yip, Alexis Hiniker
                    <br>
                    Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies <strong>(IMWUT)</strong>, 2020
                    <br>
                    <font color="green" class="detail"> Through a one-month deployment study, we investigated how families learnt new functionalities of smart speakers, include 1) which features families are aware of and engage with, and 2) how families explore, discover, and learn to use the Echo Dot. Drawing from diffusion of innovation theory, we describe how a home-based voice interface might be positioned as a near-peer to the user and help them discover new functionalities.</font>
            </span></li>
        </div></td></tr>

        <img class="smallthumbnail" src="/assets/img/research/alexa.jpg" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/alexa.jpg" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="http://faculty.washington.edu/alexisr/commBreakdowns.pdf" target="_blank">Communication Breakdowns Between Families and Alexa </a></span>
                <span class="description">Erin Beneteau, Olivia K. Richards, <strong>Mingrui Zhang</strong>, Julie A. Kientz, Jason Yip, Alexis Hiniker
                    <br>
                    The ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI)</strong>, 2019 <a href="https://www.youtube.com/watch?v=OWheOorTI88" target="_blank">Erin's Presentation</a> <a href="https://joanganzcooneycenter.org/2019/10/21/alexa-lets-work-on-your-communication-skills/" target="_blank"> Related Blog Post </a>
                    <br>
                    <font color="green" class="detail"> We investigated different types of communication breakdowns and the repairing strategies between the conversation of family members and Alexa. Our findings indicates that improving technology’s ability to identify the communication partners and to provide specific clarification responses will ultimately improve the conversational interaction experience.</font>
            </span></li>
        </div></td></tr>
    </table>

<h2> MISC </h2>
<div class="hr" style="padding-bottom:0"></div>
    <table class="row">
        <img class="smallthumbnail" src="/assets/img/research/revamp.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/revamp.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="" target="_blank">Revamp: Enhancing Accessible Information Seeking Experience of Online Shopping for Blind or Low Vision Users </a></span>
                <span class="description">Ruolin Wang, Zixuan Chen, <strong>Mingrui Zhang</strong>, Zhaoheng Li, Zhixu Liu, Zihang Dang, Chun Yu, Xiang "Anthony" Chen
                    <br>
                    The ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI)</strong>, 2021
                    <br>
                    <font color="green" class="detail">Revamp is a online shopping system aimed to provide simplified experience for Blind and Low Vision (BLV) users. It extracts the user review from the product page using linguistic rules, and generate QA interfaces based on the review data, which provides the visual appearance information of the product. </font>
            </span></li>
        </div></td></tr>

        <img class="smallthumbnail" src="/assets/img/research/AttentionExplorer.jpg" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/AttentionExplorer.jpg" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="" target="_blank">InteractiveAttention Model Explorer for NLP Tasks with Unbalanced Data Sizes </a></span>
                <span class="description">Zhihang Dong, Tongshuang Wu, Sicheng Song, <strong>Mingrui Zhang</strong>
                    <br>
                    IEEE Pacific Visualization Symposium <strong>(PacificVis)</strong>, Notes, 2020
                    <br>
                    <font color="green" class="detail"> We provide an intuitive visualization tool for natural language processing tasks where attention is mapped between documents with imbalanced sizes. We extend the flow map visualization to enhance the readability of the attention-augmented documents. <a href="https://cse512-18s.github.io/attention-model-explorer/" target="_blank">Our project page</a></font>
            </span></li>
        </div></td></tr>

        <img class="smallthumbnail" src="/assets/img/research/AAS.png" alt="" >
        <tr><td class="imgtd">
            <img class="thumbnail" src="/assets/img/research/AAS.png" alt="" >
        </td>
        <td>
        <div class="descol">
            <li><span class="title"><a class="paper_link" href="http://faculty.washington.edu/alexisr/anchoredAudioSampling.pdf" target="_blank">Anchored Audio Sampling: A Seamless Method for Exploring Children’s Thoughts During Deployment Studies </a></span>
                <span class="description">Alexis Hiniker, Jon E. Froehlich, <strong>Mingrui Zhang</strong>, Erin Beneteau
                    <br>
                    The ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI)</strong>, 2019 <img class="inline" src="/assets/img/research/bestpaper.jpg"><i>Best Paper Award</i>
                    <br>
                    <font color="green" class="detail">We present Anchored Audio Smapling (AAS) method for collecting remote data of qualitative audio samples during field development with young children. The anchor event triggers the recording, and a sliding window surrounding this anchor captures both antecedent and ensuing recording. <a href="https://github.com/uelab/KidsRecorder" target="_blank">Our AAS Library for Android</a></font>
            </span></li>
        </div></td></tr>
    </table>